<head>
  <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="container">
    <h1>Thank you!</h1>
    <a href="/"> Return to registration page </a>
  </div>
</body>
