

    <h3>Leave your email address to be the first to know the latest Peachio news</h3>

    <form action="/" method="POST">
      <label for="email">Email:
        <input type="text" name="email" required />
      </label>
      <input type="submit" value="Submit">
    </form>
