
<h1>Welcome to Peachio!</h1>
<h2>Crowd-source the best beauty products for you</h2>
<h3>Leave your email address to find out more</h3>

<form action="/" method="POST">
  <label for="email">Email:
    <input type="text" name="email" required />
  </label>
  <input type="submit" value="Submit">
</form>
