<head>
  <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>


<body>
  <div class="container">
    <h1>Welcome to Peachio!</h1>
    <h2>Crowd-source the best beauty products for you</h2>
    <h3>Leave your email address to be the first to know the latest Peachio news</h3>

    <form action="/" method="POST">
      <label for="email">Email:
        <input type="text" name="email" />
      </label>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
