<!DOCTYPE HTML>
<html class='html-class'>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Quicksand">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src='./js/imageGenerator.js'></script>
  </head>

  <body>
    <div class="container">
      <div class='text-container'>
        <%= yield %>
        <% if flash[:errors] && !flash[:errors].empty? %>
          <div id="error">
            <% flash[:errors].each do |error| %>
              <%= error %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </body>

</html>
