<head>
  <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <div class="container">
    <h1>Welcome to Peachio!</h1>
    <h2>Crowd-source the best beauty products for you</h2>
    <%= yield %>
    <% if flash[:errors] && !flash[:errors].empty? %>
      <div id="error">
        <% flash[:errors].each do |error| %>
          <%= error %>
        <% end %>
      </div>
    <% end %>
  </div>
</body>
